<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <main>
        <h1>Bem-vindo ao sistema!</h1>
        <p>Você está na tela home.</p>
        <ul>
            <li><a th:href="@{/produtos}">Produtos</a></li>
        </ul>
    </main>
</body>
</html>



<!-- This is the home page template for the application. It uses Thymeleaf for rendering dynamic content. -->
 <!-- http://localhost:8080/home RODAR I SPRING BOOT PARA VER A PÁGINA HOME USUARIO: admin@email.com SENHA: 123456 -->
<!-- The home page displays a welcome message and indicates that the user is on the home screen. -->